.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.form-group label {
  text-align: left;
}
