body {
  font-family: monospace, fantasy, serif, sans-serif;
  font-size: 18px;
}

.error-message {
  color: #d8000c;
  background-color: #ffd2d2;
  margin: 10px 0;
  font-size: 16px;
  padding: 8px 32px;
}
